<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>GAMECENTER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <CENTER><H3 style="font-size: large; ">JUEGOS</H3></CENTER>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Bienvenido a mi tienda</h1>
        <p class="lead">Tenemos una gran selección de juegos para ti</p>
        <hr class="my-4" />

    </div>

  <!-- Catálogo 1 -->
  <div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202209/1918/MP0I6Folca9wOgs9A39wwvj1.png" class="card-img-top" alt="Producto 1" style="width: 500px;" />
        <div class="card-body">
          <h5 class="card-title">Dead Space</h5>
          <p class="card-text">Juego de terror y accion.</p>
          <p class="card-text"><strong>$1,199.00</strong></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://m.media-amazon.com/images/I/812leTMAj4L._AC_SX425_.jpg" class="card-img-top" alt="Producto 2" style="width: 300px;" />
        <div class="card-body">
          <h5 class="card-title">Call Of Duty Black Ops 2</h5>
          <p class="card-text">Juego de accion.</p>
          <p class="card-text"><strong>$1,199.00</strong></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://picfiles.alphacoders.com/184/thumb-184076.jpg" class="card-img-top" alt="Producto 3" style="width: 243px;"/>
        <div class="card-body">
          <h5 class="card-title">Assasins Creed 2</h5>
          <p class="card-text">Juego de sigilo y accion.</p>
          <p class="card-text"><strong>$1,199.00</strong></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Catálogo 2 -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <center><img src="https://media.vandal.net/m/10836/2009113124334_1.jpg" class="card-img-top" alt="Producto 4" style="width: 215px;" /></center>
        <div class="card-body">
          <h5 class="card-title">Left 4 Dead 2</h5>
          <p class="card-text">Juego de zombis.</p>
          <p class="card-text"><strong>$1,299.00</strong></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://media.vandal.net/i/1200x630/15192/grand-theft-auto-v-201342141558_1.jpg" class="card-img-top" alt="Producto 5" style="width: 315px;" />
        <div class="card-body">
          <h5 class="card-title">GTA V</h5>
          <p class="card-text">Juego de mundo abierto, accion.</p>
          <p class="card-text"><strong>$1,299.00</strong></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/09/27/15696214394468.jpg" class="card-img-top" alt="Producto 6" style="width: 265px;" />
        <div class="card-body">
          <h5 class="card-title">FIFA 20</h5>
          <p class="card-text">Juego de fútbol.</p>
          <p class="card-text"><strong>$1,299.00</strong></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Catálogo 3 -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <center><img src="https://media.vandal.net/m/20029/cyberpunk-2077-201961217172698_1.jpg" class="card-img-top" alt="Producto 7" style="width: 250px;"/></center>
        <div class="card-body">
         <h5 class="card-title">Cyberpunk 2077</h5>
          <p class="card-text">Juego de rol en mundo abierto.</p>
          <p class="card-text"><strong>$1,199.00</strong></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://image.api.playstation.com/cdn/UP0700/CUSA09072_00/2eBPISxxvTv5foYSDlqiBJfmRj5LZxv3.png" class="card-img-top" alt="Producto 8" />
        <div class="card-body">
          <h5 class="card-title">Dragon Ball FighterZ</h5>
          <p class="card-text">Juego de lucha.</p>
          <p class="card-text"><strong>$1,199.00</strong></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <center><img src="https://m.media-amazon.com/images/I/910wNKXbn6L._AC_SL1500_.jpg" class="card-img-top" alt="Producto 9" style="width: 215px;" /></center>
        <div class="card-body">
          <h5 class="card-title">Mario Party</h5>
          <p class="card-text">Juego de fiesta para varios jugadores.</p>
          <p class="card-text"><strong>$1,299.00</strong></p>

        </div>
      </div>
     </div>
    </div>
   </div>


  </body>

</html>  

